<p id="notice"><%= notice %></p>
<%= form_tag(posts_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
  <%= submit_tag "Search" %>
<% end %>

<h1>Posts</h1>

<button class="btn btn-primary" id="add_post" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Add New Post
</button>
<br />
<div class="collapse" id="collapseExample">
  <div class="well">
    <%= render 'form' %>
  </div>
</div>
<center><%= paginate @posts, theme: 'twitter-bootstrap-4',  pagination_class: "pagination-sm" %></center>
<div id="post_holder">
  <% @posts.each do |post| %>
      <%= render 'row', post: post %>
  <% end %>
</div>
